<footer>
    <div class="footer__wrap">
        <div class="social__container">
            <a href="#" class="social__icon"><i class='bx bxl-facebook'></i></a>
            <a href="#" class="social__icon"><i class='bx bxl-instagram'></i></a>
            <a href="#" class="social__icon"><i class='bx bxl-whatsapp'></i></a>
        </div>
        <div class="copyright__container">
            <p>All Rights Reserved 2023 | &copy; Pancho Crack</p>
        </div>
    </div>
    <div class="up__container">
        <a href="#"><i class='bx bx-up-arrow-alt'></i></a>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script src="../../js/index.js"></script>
<script src="../../js/slider.js"></script>
<script src="../../js/search.js"></script>
<script src="../../js/cart.js"></script>
<script src="../../js/checkout.js"></script>

</body>

</html>